<div class="grid grid-cols-5 gap-5 mb-10 h-20 text-5xl">
  <div
    [ngClass]="{
      'h-full flex items-center justify-center': true,
      'bg-cyan-50': guess?.result?.[0] === undefined,
      'bg-gray-100': guess?.result?.[0] === 0,
      'bg-emerald-100': guess?.result?.[0] === 1,
      'bg-yellow-200': guess?.result?.[0] === 2
    }"
  >
    {{ guess?.guess?.[0] }}
  </div>
  <div
    [ngClass]="{
      'h-full flex items-center justify-center': true,
      'bg-cyan-50': guess?.result?.[1] === undefined,
      'bg-gray-100': guess?.result?.[1] === 0,
      'bg-emerald-100': guess?.result?.[1] === 1,
      'bg-yellow-200': guess?.result?.[1] === 2
    }"
  >
    {{ guess?.guess?.[1] }}
  </div>
  <div
    [ngClass]="{
      'h-full flex items-center justify-center': true,
      'bg-cyan-50': guess?.result?.[2] === undefined,
      'bg-gray-100': guess?.result?.[2] === 0,
      'bg-emerald-100': guess?.result?.[2] === 1,
      'bg-yellow-200': guess?.result?.[2] === 2
    }"
  >
    {{ guess?.guess?.[2] }}
  </div>
  <div
    [ngClass]="{
      'h-full flex items-center justify-center': true,
      'bg-cyan-50': guess?.result?.[3] === undefined,
      'bg-gray-100': guess?.result?.[3] === 0,
      'bg-emerald-100': guess?.result?.[3] === 1,
      'bg-yellow-200': guess?.result?.[3] === 2
    }"
  >
    {{ guess?.guess?.[3] }}
  </div>
  <div
    [ngClass]="{
      'h-full flex items-center justify-center': true,
      'bg-cyan-50': guess?.result?.[4] === undefined,
      'bg-gray-100': guess?.result?.[4] === 0,
      'bg-emerald-100': guess?.result?.[4] === 1,
      'bg-yellow-200': guess?.result?.[4] === 2
    }"
  >
    {{ guess?.guess?.[4] }}
  </div>
</div>
